
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="about-us">
                    <img src="assets/images/logo-2.png" alt="">
                    <p>Lorem ipsum dolor consectetur adipiscing elit. Donec et dapibus vel uis pretium augue sed metus eleifend acces.<br><br>Vestibulum ultrices fermentum velit, vel tempus augue hendrerit at.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="company-pages">
                    <h2>Sayfalar</h2>
                    <ul class="first-list">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>AnaSayfa</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Hakkımızda</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Projelerimiz</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Hizmetlerimiz</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>İletişim</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="subscribe-us">
                    <h2>Abone Olun</h2>
                    <input type="text" class="email" name="s" placeholder="" value="">
                    <div class="check-box">
                        <input type="checkbox" id="c1" name="cc" />
                        <label for="c1">I Accept Newsletter terms</label>
                    </div>
                    <div class="accent-button">
                        <a href="#">Abone Ol</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Tüm Hakları saklıdır</p>
            </div>
        </div>
    </div>
</div>

<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>