<header class="site-header">
    <div id="main-header" class="main-header header-sticky">
        <div class="inner-header container clearfix">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
            </div>
            <div class="header-right-toggle pull-right hidden-md hidden-lg">
                <a href="javascript:void(0)" class="side-menu-button"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="main-navigation text-right hidden-xs hidden-sm">
                <ul>
                    <li>
                        <a href="index.html" class="has-submenu">AnaSayfa</a>
                        <ul class="sub-menu">
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-submenu">Hakkımızda</a>
                        <ul class="sub-menu">
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-submenu">Hizmetlerimiz</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Homepage 1</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-submenu">Projelerimiz</a>
                        <ul class="sub-menu">
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-submenu">İletişim</a>
                        <ul class="sub-menu">
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>