<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Innovation - Constuction HTML Template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/flexslider.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/icon-font.css">
    <link rel="stylesheet" href="~/assets/css/flat-icon.css">
    <link rel="stylesheet" href="~/assets/css/innovation.css">
    <link rel="stylesheet" href="~/assets/rs-plugin/css/settings.css">
    <link href="~/assets/css/site.css" rel="stylesheet" />

    <![endif]-->
</head>
<body>

    <div class="sidebar-menu-container" id="sidebar-menu-container">

        @Html.Partial("_Header")

        @RenderBody()

        @Html.Partial("_Footer")


    </div>


    <script type="text/javascript" src="~/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins.js"></script>
    <script type="text/javascript" src="~/assets/js/custom.js"></script>


</body>
</html>
