@model BuilderWebSite.ViewModels.WebSite.ContactViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color:black">Bize Ulaşın</h1>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Index", "Contact", FormMethod.Post))
{
    <section class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form">
                        <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "name", placeholder = "Ad Soyad" })
                                </div>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "email", placeholder = "Email" })
                                </div>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.Message, new { @class = "message", placeholder = "Mesajınızı Yazın" })

                                </div>
                                <div class="col-md-12">
                                    <div class="accent-button">
                                        <button type="submit">GÖNDER</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
}
