
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Get in touch</h1>
                <span>Post-ironic scenester four dollar toast</span>
            </div>
        </div>
    </div>
</div>

<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-form">
                    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="name" name="s" placeholder="Ad Soyad" value="">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="email" name="s" placeholder="Email" value="">
                            </div>
                            <div class="col-md-12">
                                <textarea id="message" class="message" name="message" placeholder="Write message"></textarea>
                            </div>
                            <div class="col-md-12">
                                <div class="accent-button">
                                    <a href="#">Send Message</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</section>
 