<div id="cta-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <h1>Ofis Yenileme ve İç Dekorasyon Tasarım, Uygulama Projeleri</h1>
                <ul>
                    
                    <li>Dekorasyon hizmetlerine en iyisini en uygun fiyatlarla en iyi ustalarla elde edin.</li>
                </ul>
                <div class="buttons">
                    <div class="border-accent-button contact">
                        <a href="#">Bugün Başlayın</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
