
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li class="first-slide" data-transition="fade" data-slotamount="10" data-masterspeed="300">
                    <img src="https://puriwp.com/cocotemplates/html/innovation/assets/upload/slide/4.jpg" data-fullwidthcentering="on" alt="slide">
                    <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="180" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">This is Innovation<br>Construction</div>
                    <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="340" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0"><div class="line-dec"></div></div>
                    <div class="tp-caption second-line lfb tp-resizeme start" data-x="left" data-hoffset="0" data-y="380" data-speed="1000" data-start="800" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">Donec gravida ex lacus, vitae ultrices urna blandit vitae. Pellentesque cursus neque<br> urna at vulputate nunc rutrum ut morbi</div>
                    <div class="tp-caption first-banner-button sfb tp-resizeme start container" data-x="left" data-hoffset="0" data-y="450" data-speed="1000" data-start="2200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0"><a href="#">Contact Us</a></div>
                </li>
                <li class="first-slide" data-transition="fade" data-slotamount="10" data-masterspeed="300">
                    <img src="https://puriwp.com/cocotemplates/html/innovation/assets/upload/slide/2.jpg" data-fullwidthcentering="on" alt="slide">
                    <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="180" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">Construction Template<br>Innovation</div>
                    <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="340" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0"><div class="line-dec"></div></div>
                    <div class="tp-caption second-line lfb tp-resizeme start" data-x="left" data-hoffset="0" data-y="380" data-speed="1000" data-start="800" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">Donec gravida ex lacus, vitae ultrices urna blandit vitae. Pellentesque cursus neque<br> urna at vulputate nunc rutrum ut morbi</div>
                    <div class="tp-caption first-banner-button sfb tp-resizeme start container" data-x="left" data-hoffset="0" data-y="450" data-speed="1000" data-start="2200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0"><a href="#">Contact Us</a></div>
                </li>
                <li class="first-slide" data-transition="fade" data-slotamount="10" data-masterspeed="300">
                    <img src="https://puriwp.com/cocotemplates/html/innovation/assets/upload/slide/1.jpg" data-fullwidthcentering="on" alt="slide">
                    <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="180" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">Creative &amp; Unique<br>Teamplate</div>
                    <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="340" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0"><div class="line-dec"></div></div>
                    <div class="tp-caption second-line lfb tp-resizeme start" data-x="left" data-hoffset="0" data-y="380" data-speed="1000" data-start="800" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">Donec gravida ex lacus, vitae ultrices urna blandit vitae. Pellentesque cursus neque<br> urna at vulputate nunc rutrum ut morbi</div>
                    <div class="tp-caption first-banner-button sfb tp-resizeme start container" data-x="left" data-hoffset="0" data-y="450" data-speed="1000" data-start="2200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0"><a href="#">Contact Us</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>