@model List<BuilderWebSite.ViewModels.WebSite.OurServiceViewModel>

<section class="latest-news">
    <div class="container">
        <div class="row">
            <div class="section-heading col-md-12">
                <h2>Hizmetlerimiz</h2>
                <div class="line-dec"></div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="latest-item">
                        <img src="@item.FileName" alt="">
                        <div class="down-content">
                            <a href="single-blog.html"><h4>@item.Title</h4></a>
                            <p class="limit" style="white-space: pre-wrap">@item.Description</p>
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</section>
