<section class="latest-news">
    <div class="container">
        <div class="row">
            <div class="section-heading col-md-12">
                <h2>Hizmetlerimiz</h2>
                <div class="line-dec"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="latest-item">
                    <img src="https://www.demo65.bulutwebsite.net/Uploads/Global/thumb/md_kemer.jpg" alt="">
                    <div class="down-content">
                        <a href="single-blog.html"><h4>Alçıpan Kemer Uygulama</h4></a>
                        <p>IBütün alçı, iç ve dış boya ve kaplama tecrübeli ekipler tarafından yapılmaktadır.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="latest-item">
                    <img src="https://www.demo65.bulutwebsite.net/Uploads/Global/thumb/md_kemer.jpg" alt="">
                    <div class="down-content">
                        <a href="single-blog.html"><h4>Pellentesque sapien velit</h4></a>
                        <p>In imperdiet tempus nunc, ne hendrerit tortor blan Donec mollis tellus volutpat, porttitor ligula trista. Vesti faucibus risus sit amet risus in</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="latest-item">
                    <img src="https://www.demo65.bulutwebsite.net/Uploads/Global/thumb/md_kemer.jpg" alt="">
                    <div class="down-content">
                        <a href="single-blog.html"><h4>Pellentesque sapien velit</h4></a>
                        <p>In imperdiet tempus nunc, ne hendrerit tortor blan Donec mollis tellus volutpat, porttitor ligula trista. Vesti faucibus risus sit amet risus in</p>
                     
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="latest-item">
                    <img src="https://www.demo65.bulutwebsite.net/Uploads/Global/thumb/md_kemer.jpg" alt="">
                    <div class="down-content">
                        <a href="single-blog.html"><h4>Pellentesque sapien velit</h4></a>
                        <p>In imperdiet tempus nunc, ne hendrerit tortor blan Donec mollis tellus volutpat, porttitor ligula trista. Vesti faucibus risus sit amet risus in</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
